@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face {
  font-family: 'BarlowCondensed-SemiBold';
  src: url('../fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.otf')  format('opentype'),
  url('../fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.woff') format('woff'), url('../fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.ttf')  format('truetype'), url('../fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.svg#BarlowCondensed-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
