<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 pl-0">
				<div class="enp_menu">
			<span class="menu_title">
				Om oss
			</span>
					<ul class="enp_items">
						<li class="menu-item">
							<a href="#">Öppettider & Hitta</a>
						</li>
						<li class="menu-item">
							<a href="#">Biljettinformation</a>
						</li>
						<li class="menu-item">
							<a href="#">Kontakt</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 pl-0">
				<div class="enp_socials">
					<span class="menu_title">FöLj oss</span>
					<a href="#" class="facebook_icon" target="_blank">Facebook</a>
					<a href="#" class="instagram_icon" target="_blank">Instagram</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="enp_info">
					<span class="menu_title">Kultur upplands-bro</span>
					<p>Kultur Upplands-Bro webbplats är den digitala dörren till kulturutbudet som anordnas av Upplands-Bro kommun. Vill du till kommunens huvudsajt? Besök Upplands-bro.se</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="top_scroll">Gå till toppen av sidan</a>
	<div class="all_pages">
		<div class="page_point"></div>
		<ul class="page_list">
			<li><a href="index.html">Index</a></li>
			<li><a href="bibliotek.html">Bibliotek</a></li>
			<li><a href="event.html">Event</a></li>
			<li><a href="formular.html">Formular</a></li>
			<li><a href="kulturkalendar.html">Kulturkalendar</a></li>
			<li><a href="nyheter.html">Nyheter</a></li>
		</ul>
	</div>
</footer>