<footer class="footer">
	<div class="content">
		<div class="ftr_nav">
			<div class="ftr_menu">
			<span class="menu_title">
				Om oss
			</span>
				<ul class="ftr_items">
					<li class="menu-item">
						<a href="#">Öppettider & Hitta</a>
					</li>
					<li class="menu-item">
						<a href="#">Biljettinformation</a>
					</li>
					<li class="menu-item">
						<a href="#">Kontakt</a>
					</li>
				</ul>
			</div>
			<div class="ftr_socials">
				<span class="menu_title">FöLj oss</span>
				<a href="#" class="facebook_icon" target="_blank">Facebook</a>
				<a href="#" class="instagram_icon" target="_blank">Instagram</a>
			</div>
			<div class="ftr_info">
				<span class="menu_title">Kultur upplands-bro</span>
				<p>Kultur Upplands-Bro webbplats är den digitala dörren till kulturutbudet som anordnas av Upplands-Bro kommun. Vill du till kommunens huvudsajt? Besök Upplands-bro.se</p>
			</div>
		</div>
	</div>
	<a href="#" class="top_scroll">Gå till toppen av sidan</a>
</footer>