<header class="header">
	<div class="header_fix">
			<div class="logo_wrapper">
				<div class="site_name">
					<a href="/">
						Kultur
					</a>
				</div>
				<div class="logo_wrap">
					<a href="#" target="_blank">
						<img src="../img/logo.png" alt="Kommunen som">
					</a>
				</div>
			</div>
			<div class="right_menu">
				<ul class="menu-list">
					<li class="menu-item current-menu-item">
						<a href="#">Start</a>
					</li>
					<li class="menu-item">
						<a href="">Om oss</a>

					</li>
					<li class="menu-item">
						<a href="#">Biljettinfo</a>
					</li>
					<li class="menu-item">
						<a href="#">Öppettider & Hitta</a>
					</li>
				</ul>
				<div class="header_search">
					<form role="search" method="get" class="header_form">
						<input type="search" class="search-field form-control header_input" placeholder="Search" value="" name="s">
						<input type="submit" class="btn_search" value="SÖK">
					</form>
					<a href="#" class="header_btn">SÖK</a>
				</div>
			</div>
		<a href="#" class="menuBtn">
			<div class="menuBtn__item menuBtn__item_1"></div>
			<div class="menuBtn__item menuBtn__item_2"></div>
			<div class="menuBtn__item menuBtn__item_3"></div>
		</a>
		</div>
	<section class="section-intro">
		<div class="view_slider">
			<div class="view_content">
				<div class="top_info">
					<div class="background_thumbnail">
						<img src="../img/slide_1.jpg" alt="">
						<div class="top_title">
							<h1>Välkommen till
								Kultur Upplands-Bro</h1>
							<p>Kommunens kulturportal för många olika intressen och åldrar.</p>
							<div class="slider_btn">
								<a href="#" class="btn_slide">Läs mer</a>
							</div>
						</div>
					</div>
				</div>
				<div class="top_info">
					<div class="background_thumbnail">
						<img src="../img/slide_2.jpg" alt="">
						<div class="top_title">
							<h1>Välkommen till
								Kultur Upplands-Bro</h1>
							<p>Kommunens kulturportal för många olika intressen och åldrar.</p>
							<div class="slider_btn">
								<a href="#" class="btn_slide">Läs mer</a>
							</div>
						</div>
					</div>
				</div>
				<div class="top_info">
					<div class="background_thumbnail">
						<img src="../img/slide_3.jpg" alt="">
						<div class="top_title">
							<h1>Välkommen till
								Kultur Upplands-Bro</h1>
							<p>Kommunens kulturportal för många olika intressen och åldrar.</p>
							<div class="slider_btn">
								<a href="#" class="btn_slide">Läs mer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="top_nav">
		<div class="container">
			<div class="row align-items-center">
				<a href="#" class="calendar_link">Kulturkalender</a>
				<ul class="top_list">
					<li class="menu-item">
						<a href="#">Bibliotek</a>
					</li>
					<li class="menu-item">
						<a href="#">Scen/Film</a>
					</li>
					<li class="menu-item">
						<a href="#">Konst</a>
					</li>
					<li class="menu-item">
						<a href="#">Kurs/Workshop</a>
					</li>
					<li class="menu-item">
						<a href="#">Kulturmiljö</a>
					</li>
					<li class="menu-item">
						<a href="#">Kulturskolan</a>
					</li>
					<li class="menu-item">
						<a href="#">Förskola/Skola</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>