.main_content {
  padding-right: 0;
  margin-right: -55px;
}
.secondary {
  margin-right: -30px;
}
.sticky{
  position: relative;
}
.calendar_link {
  &.active {
    height: 53px;
    background-color: #b2b2b2;
  }
}